<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .container {
        max-width: 960px;
      }
      
      .pricing-header {
        max-width: 700px;
      }
      
      .bg-color-blue{
        background-color:#3874F1
      }
      
      .text-color-white{
        color:#ffffff;
      }
      
      .img-thumbnail{
        width:50px;
        visibility:hidden;
      }
    </style>
  </head>
  
  <body>
  
  <section class="d-none">
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
  </section>

  <nav class="navbar navbar-expand-md bg-color-blue">
    <div class="container">
      <a class="navbar-brand text-color-white" href="{{ site.baseurl }}/"><strong>{{ site.name }}</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active text-color-white" aria-current="page" href="{{ site.baseurl }}/about">Fitur</a>
          </li>
          <li class="nav-item d-none">
            <a class="nav-link text-color-white" href="{{ site.baseurl }}/">Harga</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-light" type="submit">Dapatkan Pendanaan</button>
        </form>
      </div>
    </div>
  </nav>
  
  <section class="py-5 bg-color-blue">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7 mx-auto">
          <h1 class="text-color-white">Pendanaan Showroom Hingga 2 Miliar Dalam Genggaman</h1>
          <p class="lead text-color-white">Maksimalkan potensi bisnis showroom anda, kredit terjangkau dan tingkatkan pengalaman pelanggan bisnis Anda sekarang juga!
  Ayo segera beralih ke BROOM.ID!</p>
          <p>
            <a href="#" class="btn btn-light my-2">Dapatkan pendanaan</a>
          </p>
        </div>
        <div class="col-12 col-lg-5">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/Hero-Image.png" class="img-fluid" alt="Menoo Touchless QR Menu Solution">
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/36.png" class="img-fluid" />
        </div>
        <div class="col-md-7">
          <h2>Kemudahan Belanja Inventaris Unit Mobil Anda</h2>
          <p class="lead">Kami memberikan akses kemudahan bagi Anda untuk dapat memiliki mobil yang Anda inginkan dan meningkatkan penjualan showroom Anda, segera daftarkan diri Anda untuk bergabung bersama kami dan kami akan membantu anda untuk mendapatkan mobil bekas yang anda inginkan.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5 d-none">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7">
          <h2>New Normal Dining Experience</h2>
          <p class="lead">Untuk mencegah penyebaran COVID-19, Restauran dituntut untuk memiliki protokol-protokol operasional yang baru.</p>
          <p class="lead">Salah satu-nya adalah mengganti Menu fisik dengan Menu Digital yang bisa diakses langsung melalui mobile phone masing-masing pelanggan.</p>
          <p class="lead">Menoo.id memberikan experience yang nyaman melalui user interface yang intuitif dan flexible.</p>
        </div>
        <div class="col-12 col-md-5">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/Ugly-Menu.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <div class="row mx-auto text-center">
        <div class="col">
          <h2>Fitur Kunci Showroom Sukses</h2>
          <p class="lead">Aplikasi penunjang produktifitas bagi pengusaha showroom otomotif</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Inventori Financing</h4>
          <p class="lead">Fitur pendanaan sesuai kaidah imbal hasil yang saling menguntungkan.</p>
        </div>
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Customer Financing</h4>
          <p class="lead">Berbagai pilihan kredit untuk customer anda.</p>
        </div>
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Sertifikasi Showroom</h4>
          <p class="lead">Mengingkatkan kepercayaan showroom anda.</p>
        </div>
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Point of Sales</h4>
          <p class="lead">Aplikasi Point of Sales terintegrasi memudahkan rekapitulasi penjualan anda.</p>
        </div>
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Jaringan Inventori</h4>
          <p class="lead">Bertukar inventori unit menjadi mudah dan transparan.</p>
        </div>
        <div class="col-6 col-md-4">
          <img src="https://start.menoo.id/wp-content/uploads/2020/07/EASY.png" class="img-thumbnail" alt="...">
          <h4>Pencatatan Pelanggan</h4>
          <p class="lead">Raih pelanggan melalui jaringan iklan penunjang terintegrasi.</p>
        </div>
      </div>
    </div>
  </section>
    
  <section class="py-5 container">
    <div class="row mx-auto text-center">
      <div class="col">
        <h2>Pencairan Dana</h2>
        <p class="lead">Imbal hasil baik, berikut simulasi pencairan dana belanja anda.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Silver</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 500jt</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>5 unit tertahan</li>
            <li>1, 3, atau 6 bulan pengembalian</li>
            <li>20% Imbal hasil investor</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Gold</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 1 Miliar</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 unit tertahan</li>
            <li>3, atau 6 bulan pengembalian</li>
            <li>20% Imbal hasil investor</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Platinum</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp 2 Miliar</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 unit tertahan</li>
            <li>6 bulan pengembalian</li>
            <li>20% Imbal hasil investor</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container bg-color-blue p-5">
      <div class="row">
        <div class="col-md-7">
          <h4 class="text-light my-2">Beralih ke Showroom Financing Sekarang</h4>
        </div>
        <div class="col-md-5">
          <a href="#" class="btn btn-light my-2 mx-2">Daftar Sekarang</a> <a href="#" class="btn btn-outline-light my-2 mx-2">Lihat Demo</a>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
      <div class="col-12 col-md">
        <h4>MENURESTO</h4>
        <small class="d-block mb-3 text-muted">&copy; 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Fitur</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Pawoon Integrasi</a></li>
          <li><a class="link-secondary" href="#">MOKKA Integrasi</a></li>
          <li><a class="link-secondary" href="#">Manual Integrasi</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Afiliasi</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Aplikasi Sales Kanvas</a></li>
          <li><a class="link-secondary" href="#">Aplikasi ERP</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Tentang</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Tim</a></li>
          <li><a class="link-secondary" href="#">Lokasi</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  {% include analytics.html %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  </body>
</html>
